{% extends 'base.html.twig' %}

{% block title %}ArcheoDB - Hlavní stránka{% endblock %}

{% block body %}
<div class="w-2/3 mx-auto">
    <div class="text-3xl text-bold pb-4">Hlavní stránka</div>
</div>
{% endblock %}
