{% extends 'base.html.twig' %}

{% block title %}ArcheoDB - Upravit dataci {{ dating.title }}{% endblock %}

{% block body %}
<div class="w-2/3 mx-auto">
    <div class="text-3xl text-bold pb-4">Upravit dataci {{ dating.title }}</div>
    {{ include('datings/_form.html.twig') }}
</div>
{% endblock %}